doctype html
html
  head
    title Your Web Page
  body
    h1 Fee Component Details

    // Use Jade iteration to loop through the feeComponent properties
    each value, key in feeComponent
      p #{key}: #{value}
