doctype html
html
  head
    title= "Quản trị bưu cục"
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js")
  body

    form(method="post" action="/api/v1/orders/create")
    
      div 
        label(for="name_sender") Tên người gửi
        input#name_sender(type="text" name="name_sender" placeholder="Tên người gửi" required)
      
      div
        label(for="phone_sender") Số điện thoại người gửi
        input#phone_sender(type="text" name="phone_sender" placeholder="Số điện thoại người gửi" required pattern="[0-9]+" title="Only numbers are allowed")

      div
        label(for="name_reciever") Tên người nhận
        input#name_reciever(type="text" name="name_reciever" placeholder="Tên người nhận" required)
      
      div
        label(for="phone_reciever") Số điện thoại người nhận
        input#phone_reciever(type="text" name="phone_reciever" placeholder="Số điện thoại người nhận" required pattern="[0-9]+" title="Only numbers are allowed")
      
      div
        label(for="mass") Mass
        input#mass(type="number" name="mass" placeholder="Mass" step="0.01" required min="0")
      
      div
        label(for="height") Height
        input#height(type="number" name="height" placeholder="Height" step="0.01" required min="0")
      
      div
        label(for="width") Width
        input#width(type="number" name="width" placeholder="Width" step="0.01" required min="0")
      
      div 
        label(for="length") Length
        input#length(type="number" name="length" placeholder="Length" step="0.01" required min="0")
      
      div
        label(for="province_source") Tỉnh/Thành phố nguồn
        input#province_source(type="text" name="province_source" placeholder="Tỉnh/Thành phố nguồn" required)
      
      div
        label(for="district_source") Quận/Huyện nguồn
        input#district_source(type="text" name="district_source" placeholder="Quận/Huyện nguồn" required)
      
      div
        label(for="ward_source") Phường/Xã nguồn
        input#ward_source(type="text" name="ward_source" placeholder="Phường/Xã nguồn" required)
      
      div
        label(for="detail_source") Địa chỉ chi tiết nguồn
        input#detail_source(type="text" name="detail_source" placeholder="Địa chỉ chi tiết nguồn" required)
      
      div
        label(for="province_dest") Tỉnh/Thành phố đích
        input#province_dest(type="text" name="province_dest" placeholder="Tỉnh/Thành phố đích" required)
      
      div
        label(for="district_dest") Quận/Huyện đích
        input#district_dest(type="text" name="district_dest" placeholder="Quận/Huyện đích" required)
      
      div
        label(for="ward_dest") Phường/Xã đích
        input#ward_dest(type="text" name="ward_dest" placeholder="Phường/Xã đích" required)
      
      div
        label(for="detail_dest") Địa chỉ chi tiết đích
        input#detail_dest(type="text" name="detail_dest" placeholder="Địa chỉ chi tiết đích" required)
      
      div
        label(for="long_source") Kinh độ nguồn
        input#long_source(type="number" name="long_source" placeholder="Kinh độ nguồn" step="0.000001" required min="-180" max="180")

      div
        label(for="lat_source") Vĩ độ nguồn
        input#lat_source(type="number" name="lat_source" placeholder="Vĩ độ nguồn" step="0.000001" required min="-90" max="90")
      div
        label(for="long_destination") Kinh độ đích
        input#long_destination(type="number" name="long_destination" placeholder="Kinh độ đích" step="0.000001" required min="-180" max="180")

      div
        label(for="lat_destination") Vĩ độ đích
        input#lat_destination(type="number" name="lat_destination" placeholder="Vĩ độ đích" step="0.000001" required min="-90" max="90")

      div 
        label(for="COD") Tiền giao hàng thu hộ (COD)
        input#COD(type="number" name="COD" placeholder="Tiền COD" min="0")

      div 
        label(for="service_type") Loại dịch vụ
        input#service_type(type="number" name="service_type" placeholder="Loại dịch vụ" required)
      
      div 
        input#submit(type="submit", value="Submit")

    p#notificationArea
    script(src="/javascripts/order.js")
