doctype html
html
  head
    title= "Quản trị bưu cục"
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js")
  body

    form(method="post" action="/api/v1/orders/create")
  

      
      div 
        input#submit(type="submit", value="Submit")

    p#notificationArea
    script(src="/javascripts/order.js")