doctype html
html
  head
    title= "Quản trị bưu cục"
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js")
  body
    h1 Thông báo đơn hàng mới
    div#notificationArea
    script(src="/javascripts/staff.js")
