doctype html 
html 
    head 
        title Login 
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js")
    body 
        input#username(type="text", placeholder="username", name="username")
        input#password(type="text", placeholder="password", name="password")
        input#submit(type="submit", value="Submit")
        script(src="/javascripts/staffsLogin.js") 
        